#banner {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    color: #a1b3e4;

    background-image: url("https://images.unsplash.com/photo-1530973428-5bf2db2e4d71?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;

    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner h1 {
    margin-bottom: 10px;
    font-size: 80px;
}
#banner h2 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}
#navbar{
    margin: 0;
    border-radius: 0;
}
section {
    box-sizing: border-box;
    padding: 20px 0 50px;
}
section:nth-child(odd){
    background-color: #a1b3e4;
}
section .title{
    display: inline-block;
    margin: 10px auto 40px;
    padding: 0 10px 5px;
    border-bottom: 3px solid #2b185e;
}
#sobre .content{
    padding-top:20px;
}

#palestrantes .thumbnail img{
    width: 100%;
}
#local{
    padding-bottom: 0;
}
#local iframe{
    pointer-events: none;
    display: block;
}
#local iframe.active{
    pointer-events: auto;
}
#assine{
    padding: 50px 20px 70px;
}
#assine h4{
    text-align: right;
}
footer{
    background-color: #2b185e;
    padding:20px;
    color: white;
}
.footer-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px auto;
}
.icon-social{
    height: 40px;
    width: 40px;
    display: block;
    background-size: contain;
    margin: 5px 15px;
}
.icon-social.facebook{
    background-image: url("https://img.freepik.com/vetores-premium/logo-de-midia-social-azul_197792-1759.jpg");
}
.icon-social.twitter{
    background-image: url("https://img.freepik.com/vetores-premium/icone-quadrado-do-logotipo-do-twitter_444390-7003.jpg");
}
.icon-social.youtube{
    background-image: url("https://img.freepik.com/vetores-premium/logo-vermelho-do-youtube-logo-de-midia-social_197792-1803.jpg?w=2000");
}

.affix{
    top: 0;
    width: 100%;
    z-index: 20;
}

@media screen and (max-width: 767px) {
    #assine h4{
        text-align: center;
    }
    #palestrantes .thumbnail{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (max-width: 425px) {
    #banner h1 {
        font-size: 60px;
    }
    #banner h2 {
        font-size: 20px;
    }
    section .title{
        font-size: 16px;
    }
    #palestrantes .thumbnail h3{
        font-size: 18px;
    }
}

